.container {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.input {
  padding: 20px;
  height: 40px;
  border-radius: 16px;
  border: 2px solid #c5c5c5;
  width: 100%;
  font-size: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 86px;
  border-radius: 16px;
  background-color: #002a8d;
  border: 2px solid #002a8d;
  font-size: 32px;
  color: white;
}

.image {
  padding-top: -32px;
  width: 600px;
  height: 600px;
}

.pokemonName {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
}
